<%= form_with model: [article, comment] do |f| %>
  <div class="field">
    <%= f.label :body, "Comment" %>
    <%= f.text_area :body, rows: 3 %>
  </div>

  <%= f.submit "Post Comment", class: "btn" %>
<% end %>
