<header class="site-header">
  <nav class="nav-container" aria-label="Main navigation">
    <div class="nav-brand">
      <%= link_to "Blog App", root_path %>
    </div>
    <div class="nav-links">
      <%= link_to "Articles", articles_path %>
      <%= link_to "New Article", new_article_path, class: "btn btn-primary" %>
    </div>
  </nav>
</header>
